html{
        background-color: #f5f5f5;
}
.container-update{

    display: flex;
    grid-template-columns: 1fr 320px;
    gap: 40px;
    align-items: stretch;
}

.panel-left{
    background: #fff;
    padding: 46px;
    border-radius: 17px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
        flex: 3;
}

.panel-right{
    background: #fff;
    padding: 46px;
    border-radius: 17px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
        flex: 2;
}

.guia {
    font-size: 0.5em;
    display: flex;
    flex-direction: row;
    color: #6e6e6e;
}
.guia .main-guia {
    font-weight: 600;
}
.guia .sub-guia {
    font-weight: 500;
    color: #5f5f5f;
}

.title{
    margin: 12px 0px;
    color: #252525;
    margin-bottom: 30px;
}

.title-pago{
    font-size: 1.8em;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 25px;
}

.card-logos{
  display:flex;
  gap:8px;
  margin-bottom:25px;

}

.card-logo{
    border: 1px solid #f8f8f8;
    padding: 6px 10px;
    font-size: 12px;
    background: #f8f8f8;
    border-radius: 5px;
}

label{
    font-size: 15px;
    color: #666;
    display: block;
    margin-bottom: 8px;
}

input{
  width: 96%;
  padding:15px;
  border:1px solid #ccc;
  margin-bottom:15px;
  border-radius: 8px;
}
.input2{
  width: 92%;
  padding:15px;
  border:1px solid #ccc;
  margin-bottom:15px;
  border-radius: 8px;
}

.form-row{
  display:grid;
  grid-template-columns:1fr 1fr;
gap: 24px;
}

.btn-pagar{
    width: 100%;
    border-radius: 15px;
    padding: 16px;
    background: #4a7249;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    transform: 2s;
}

.btn-pagar:hover{
  background:#619d59;
}

.help{
  margin-top:20px;
  font-size:13px;
  color:#666;
}

.help li{
  margin-bottom:6px;
}


.auto-nombre{
  font-size:18px;
  font-weight:bold;
}

.auto-cat{
  font-size:12px;
  color:#bbb;
  margin-bottom:20px;
}

.info-item{
  display:flex;
  justify-content:space-between;
  font-size:13px;
  margin-bottom:6px;
}

.total{
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 14px 18px;
    background: #f5f5f5;
    border-radius: 14px;
        margin-left: -10px;
    margin-right: -10px;
}

.total div{
  display:flex;
  justify-content:space-between;
  margin-top:6px;
}

.total-final{
  font-weight:bold;
  font-size:16px;
  margin-top:10px;
}

@media(max-width:720px){
  .container{grid-template-columns:1fr}
  .panel-right{order:-1}
}

.auto-img-div{
    width: 100%;
    height: 320px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.auto-img{
width: 100%;
    height: 100%;
    object-fit: cover;
}
