@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat';
}

a{
    text-decoration: none;
    color: black;
}

.navegador{
    position: fixed;
    width: 18em;
    height: 100vh;
    background-color: #252525;
}
.container{
    background-color: whitesmoke;
    margin-left: 18em;
}

.nav-logo{
    width: 80px;
}
.nav-logo img{
    display: block;
    width: 100%;
}
.nav_top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: solid 1px white;
}
.nav-title h1{
    color: white;
    font-size: 1.6em;
    font-weight: 500;
    margin-left: 8px;
}
.nav-title h1 b{
    color: #588652;
}
li{
    transition:all 0.2s;
}

.nav_buttom .li-menu{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px 10px 0px;
    padding-left: 15px;
    font-size: 1.2em;
}
.nav_icon{
    fill: white;
    width: 32px;
    margin-right: 14px;

}
.nav_buttom .li-menu:hover{
    background-color: #4a7249;
}
/* ===== SUBMENUS ===== */

.menu-link{
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 15px;
    cursor: pointer;
    font-size: 1.2em;
    transition: all .2s;
}

.menu-link:hover{
    background-color: #4a7249;
}

/* contenedor oculto */
.submenu{
    list-style: none;
    padding-left: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    background-color: #1f1f1f;
    transition: max-height .35s ease;
}
.submenu ul a:hover{
    background-color: #34e710;

}

/* items internos */
.submenu li{
    color: white;
    list-style: inside;
    padding: 8px 20px 8px 60px;
        padding-left: 15px;
    font-size: 1em;
}

.submenu li a{
    color: #dcdcdc;
    font-size: 0.95em;
}

.submenu li:hover{
    background-color: #374e37;
    padding-left: 32px;
}

/* estado abierto */
.menu-item.active .submenu{
    max-height: 300px;
}